.timeline {
  margin: 80px 0;

  @media screen and (max-width: (768px - 1)) {
    margin: 40px 0;
  }

  .eventItems {
    position: relative;

    &:before {
      @media screen and (min-width: (320px)) {
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        width: 4px;
        height: calc(100% - 10px);
        background-color: var(--color-secondary);
        transform: translateX(-50%);
      }

      @media screen and (max-width: (576px - 1)) {
        left: 16px;
      }
    }

    &:after {
      @media screen and (min-width: (320px)) {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 32px;
        height: 32px;
        background-color: var(--color-secondary);
        border-radius: 100%;
        transform: translate(-50%, -8px);
      }

      @media screen and (max-width: (576px - 1)) {
        left: 16px;
      }
    }

    .eventItem {
      display: flex;
      flex-direction: row;
      position: relative;
      margin: 80px 0;

      @media screen and (max-width: (768px - 1)) {
        margin: 40px 0;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        @media screen and (min-width: (576px)) {
          flex-direction: row-reverse;
        }

        .year {
          @media screen and (min-width: (576px)) {
            right: calc(100% + 24px);
          }
        }

        .date {
          &:after {
            right: calc(100% + 8px);
            width: 40px;
          }
        }
      }

      &:nth-child(odd) {
        .year {
          @media screen and (min-width: (576px)) {
            left: calc(100% + 24px);
          }
        }

        .date {
          width: 100%;
          span {
            padding-right: 8px;
          }

          &:after {
            @media screen and (min-width: (576px)) {
              left: 8px;
              width: calc(100% + 40px);
            }

            @media screen and (max-width: (576px - 1)) {
              right: calc(100% + 8px);
              width: 40px;
            }
          }
        }
      }
    }

    .info {
      width: 100%;
    }

    .inner {
      background-color: var(--color-white);
      padding: 24px;
      box-shadow: 0 10px 25px -20px rgb(from var(--color-black) r g b / 0.5);
      width: calc(50% - (48px + 0.1rem));

      @media screen and (min-width: (
            576px,
          )) {
        position: relative;
      }

      @media screen and (max-width: (576px - 1)) {
        margin-left: 72px;
        width: calc(100% - (48px + 0.1rem));
      }

      @media screen and (max-width: (320px - 1)) {
        margin-left: 0;
        width: 100%;
      }

      .year {
        color: var(--color-white);
        background-color: var(--color-black);
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        z-index: 1;
        position: absolute;
        top: 9px;
        border-radius: 100%;

        @media screen and (max-width: (576px - 1)) {
          left: -9px;
        }

        @media screen and (max-width: (320px - 1)) {
          display: none;
        }
      }

      .date {
        color: var(--color-quaternary);
        font-weight: bold;
        position: relative;

        span {
          display: inline-block;
          position: relative;
          z-index: 2;
          background-color: var(--color-white);
        }

        &:after {
          @media screen and (min-width: (320px)) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            border-top: 3px dashed var(--color-quaternary);
          }
        }
      }

      .imageObject,
      .box,
      img {
        width: 100%;
      }
    }
  }
}
