.card {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-light);
  color: var(--color-black);
  padding: 8px;
  position: relative;
  box-shadow: 0;
  box-shadow: 0 10px 25px -22px rgb(from var(--color-black) r g b / 0.3);

  &.link {
    transition: all 0.2s ease-in-out;
    transform: translateZ(0);
    width: 100%;
    border-radius: 8px;

    > div {
      width: 100%;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 10px 25px -14px rgb(from var(--color-black) r g b / 1);
      background-color: var(--color-primary-light);
      opacity: 1;

      text-decoration: none;
    }

    &:focus-within {
      outline: 2px solid var(--color-focus-outline);
      outline-offset: 2px;
    }

    &.primary {
      &:hover {
        background-color: var(--color-primary-light);
        color: var(--color-black);
      }
    }

    &.secondary {
      &:hover {
        background-color: var(--color-secondary-light);
        color: var(--color-black);
      }
    }

    &.tertiary {
      &:hover {
        background-color: var(--color-tertiary-light);
        color: var(--color-black);
      }
    }
  }

  .tags {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
  }

  .date {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 16px;
  }

  .avatars {
    position: relative;
    z-index: 2;
  }

  .heading {
    font-size: 24px;
    margin: 0 0 16px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
  }

  .copy {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
  }

  .image {
    margin-bottom: 16px;
  }

  .links {
    margin-top: 32px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner {
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    > div {
      &:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .image {
    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    position: relative;
    height: 0;
    z-index: 1;
    padding-bottom: 56.25%;
  }
}

.authors {
  margin-top: 32px;

  @media screen and (max-width: (768px - 1)) {
    align-items: flex-start;
  }

  &.multiple {
    &:hover {
      .author {
        + .author {
          @media screen and (min-width: (768px)) {
            margin-left: 4px;
          }
        }
      }

      .authorNames {
        @media screen and (min-width: (768px)) {
          margin-left: -36px;
        }
      }
    }
  }

  .authorNames {
    position: relative;
    transition: all 0.2s ease-in-out;
  }

  .author {
    position: relative;
    transition: all 0.2s ease-in-out;

    + .author {
      margin-left: 8px;
      @media screen and (min-width: (768px)) {
        margin-left: -28px;
      }
    }

    .avatar {
      border-radius: 100%;
      outline: 1px solid var(--color-white);
      position: relative;
      z-index: 2;
    }
  }
}
