{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/no-danger": "off",
    "react/no-array-index-key": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": "off",
    "jsx-a11y/href-no-hash": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prefer-stateless-function": "off",
    "max-len": "off",
    "camelcase": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "object-curly-newline": "off",
    "prefer-destructuring": "off",
    "no-multi-spaces": "off",
    "comma-dangle": "off",
    "no-unused-expressions": "off",
    "operator-linebreak": "off",
    "import/no-unresolved": "off",
    "no-array-constructor": "off",
    "consistent-return": "off",
    "no-confusing-arrow": "off",
    "implicit-arrow-linebreak": "off",
    "array-callback-return": "off",
    "indent": "off",
    "arrow-parens": "off",
    "no-useless-escape": "off",
    "function-paren-newline": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "globals": {
    "window": "readonly",
    "document": "readonly",
    "performance": "readonly",
    "localStorage": "readonly",
    "fetch": "readonly",
    "sessionStorage": "readonly",
    "FormData": "readonly",
    "XMLHttpRequest": "readonly",
    "IntersectionObserver": "readonly",
    "domRef": "readonly"
  }
}
