.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  padding: var(--footer-spacing) 0;

  @media screen and (max-width: ($md - 1)) {
    padding: var(--footer-spacing-mobile) 0;
  }
}
