.header {
  padding: 80px / 2 0;

  @media screen and (max-width: (768px - 1)) {
    padding: 40px / 2 0;
  }

  .heading {
    margin: 0;
  }

  li {
    margin: 0;
  }

  .dropdown {
    .menu {
      right: 0;
      min-width: 200px;

      @media screen and (max-width: (576px - 1)) {
        position: relative;
        font-size: 20px;
        background-color: transparent;
        border-radius: 0;
        border: none;
        box-shadow: none;

        a {
          &.linkObject {
            border-bottom: 1px solid var(--color-white);
            color: var(--color-white);
          }
        }
      }
    }
  }

  .navToggle {
    &.button {
      position: relative;
      z-index: 101;
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease-in-out;

      @media screen and (min-width: (576px)) {
        display: none;
      }

      span {
        display: block;
        position: relative;
        background-color: var(--color-black);
        height: 2px;
        width: 24px;
        transition: all 0.2s ease-in-out;
      }

      &.open {
        transform: rotate(180deg);
        span {
          background-color: var(--color-white);

          &:nth-child(1) {
            transform: rotate(45deg);
            top: 7px;
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            bottom: 7px;
          }
        }
      }
    }
  }

  .mainNav {
    @media screen and (max-width: (576px - 1)) {
      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
      margin: 0;

      &.open {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &.flex {
      @media screen and (max-width: (576px - 1)) {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 100;
        background-color: var(--color-overlay-primary);
        top: 0;
        left: 0;
        color: var(--color-white);
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 16px;
        font-size: 40px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        a,
        button {
          font-family: '__Alfa_Slab_One_2c873c';
        }
      }
    }
  }
}
