.logoBanner {
  position: relative;
  padding: 32px;
  height: 80svh;
  max-height: 1200px;

  @media screen and (max-width: (768px - 1)) {
    height: auto;
    padding: 100px 48px;
  }

  .flex {
    height: 100%;
  }

  .logo {
    width: 100%;
    max-width: 480px;
  }
}
