.compareTable {
  padding: 32px 16px;
  max-width: 200px + 164px;

  .heading {
    font-size: 52px;
  }

  .eyebrow,
  .subheading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }

  &.highlight {
    color: var(--color-offwhite);
  }

  &.primary {
    background-color: var(--color-primary-light);
    color: var(--color-black);

    &.highlight {
      background: var(--color-primary);
      color: var(--color-offwhite);
    }
  }
  &.secondary {
    background-color: var(--color-secondary-light);
    color: var(--color-black);

    &.highlight {
      background: var(--color-secondary);
      color: var(--color-white);
    }
  }
  &.tertiary {
    background-color: var(--color-tertiary-light);
    color: var(--color-black);

    &.highlight {
      background: var(--color-tertiary);
    }
  }

  &.quaternary {
    background-color: var(--color-quaternary-light);
    color: var(--color-black);

    &.highlight {
      background: var(--color-quaternary);
      color: var(--color-white);
    }
  }
}
