.markdown {
  .articleImage {
    margin-top: $size-32;
    margin-bottom: $size-32;

    @media screen and (min-width: ($xxl)) {
      margin-left: -($size-132 / 2);
      width: calc(100% + $size-132);
    }

    img {
      height: auto;
      width: 100%;
    }

    .imageTitle {
      font-size: $size-14;
      margin-top: $size-8;
      text-align: center;
      font-style: italic;
    }
  }
}
