.markdown,
.portable {
  .articleImage {
    margin-top: $size-32;
    margin-bottom: $size-32;

    img {
      height: auto;
      width: 100%;
    }

    .imageTitle {
      font-size: $size-14;
      margin-top: $size-8;
      text-align: center;
      font-style: italic;
    }
  }
}
