.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: var(--color-primary-light);

  &:hover {
    span {
      display: block;
    }
  }

  span {
    display: none;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 14px;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    min-width: 200px;
    width: 100%;
    max-width: 200px;
    padding: 8px;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      border-width: 8px;
      border-style: solid;
      border-color: var(--color-black) transparent transparent transparent;
      transform: translateX(-50%);
    }
  }
}
