html {
  background-color: var(--color-black);

  main {
    background-color: var(--color-offwhite);
  }
}

* {
  &:focus {
    outline-offset: 2px;
    outline: 4px solid var(--color-focus-outline);
  }
}

::selection {
  background: var(--color-tertiary);
  color: var(--color-white);
  text-shadow: -1px 1px 3px var(--color-black);
}

#bodyContent {
  outline: none;
}

.hide {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
  position: relative;

  &.padded {
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (max-width: (768px - 1)) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &.wide {
    max-width: 1200px + 576px;
  }

  &.wider {
    max-width: 1200px + 768px;
  }

  &.narrow {
    max-width: 1200px;
  }

  &.narrower {
    max-width: 768px;
  }

  &.full {
    max-width: 100%;
  }
}

.gap-none {
  gap: 0;
}

.gap-micro {
  gap: 4px;
}

.gap-xxs {
  gap: 16px;
}

.gap-xs {
  gap: 20px;
}

.gap-sm {
  gap: 32px;
}

.gap-md {
  gap: 40px;
}

.gap-lg {
  gap: 52px;
}

.gap-xl {
  gap: 72px;
}

.gap-xxl {
  gap: 84px;
}

.gap-mega {
  gap: 120px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skipToMain {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 999;

  &:focus {
    top: 10px;
    left: 10px;
  }
}

.desktopOnly {
  @media screen and (max-width: (768px - 1)) {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 0;
    width: 0;
    overflow: hidden;
  }
}

.mobileOnly {
  @media screen and (min-width: 768px) {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
