::selection {
  background: $orange;
  color: $white;
  text-shadow: -1px 1px 3px $black;
}

.hide {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

.container {
  width: 100%;
  max-width: $xxl;
  padding: 0 $size-16;
  margin: 0 auto;
  position: relative;

  &.wide {
    max-width: $xxl + $sm;
  }

  &.narrow {
    max-width: $lg;
  }

  &.full {
    max-width: 100%;
  }
}

.box {
  @include vertical-spacing;
}
