// typography color changer
@mixin typography-color($color) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  span,
  a {
    color: $color;
  }

  a {
    color: $color;

    &:hover {
      color: $color;
    }
  }
}
