@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-primary: #12657c;
  --color-secondary: #0f7173;
  --color-tertiary: #f7a25d;
  --color-quaternary: #b8343a;
  --color-gray: #afafaf;
  --color-white: #ffffff;
  --color-black: #123346;
  --color-offwhite: #f7f7f7;

  --color-primary-light: #9cdef1;
  --color-primary-dark: #0c414f;
  --color-secondary-light: #d4f9f9;
  --color-secondary-dark: #094546;
  --color-tertiary-light: #fde8d7;
  --color-tertiary-dark: #f5862c;
  --color-quaternary-light: #ce5157;
  --color-quaternary-dark: #90292d;
  --color-gray-light: #c9c9c9;
  --color-gray-dark: #969696;

  --color-error: #b8343a;
  --color-success: #0f7173;
  --color-warning: #f7a25d;
  --color-info: #d5e3f7;
  --color-link: #12657c;

  --color-overlay-primary: rgba(18, 101, 124, 0.8);
  --color-overlay-secondary: rgba(15, 113, 115, 0.8);
  --color-overlay-tertiary: rgba(247, 162, 93, 0.8);
  --color-overlay-quaternary: rgba(184, 52, 58, 0.8);
  --color-overlay-white: rgba(255, 255, 255, 0.8);
  --color-overlay-black: rgba(18, 51, 70, 0.8);
  --color-overlay-offwhite: rgba(247, 247, 247, 0.8);
  --color-overlay-gray: rgba(175, 175, 175, 0.8);

  --color-focus-outline: var(--color-quaternary);
  --color-focus-outline-secondary: var(--color-primary);
}

@import './mixins';
@import './reset';
@import './global';
@import './typography';

// Components GLOBAL
@import './components/global/header';
@import './components/global/footer';

// Components UTILITY

@import './components/utility/box';
@import './components/utility/drawer';
@import './components/utility/flex';
@import './components/utility/grid';
@import './components/utility/markdown';
@import './components/utility/modal';
@import './components/utility/spinner';
@import './components/utility/tooltip';

// Components BLOCKS

@import './components/blocks/accordion';
@import './components/blocks/alert';
@import './components/blocks/articles';
@import './components/blocks/banner';
@import './components/blocks/buttonRow';
@import './components/blocks/blockWrapper';
@import './components/blocks/calendar';
@import './components/blocks/cards';
@import './components/blocks/carousel';
@import './components/blocks/compareTables';
@import './components/blocks/contactBlock';
@import './components/blocks/events';
@import './components/blocks/form';
@import './components/blocks/gallery';
@import './components/blocks/logoBanner';
@import './components/blocks/logoRow';
@import './components/blocks/people';
@import './components/blocks/quote';
@import './components/blocks/richText';
@import './components/blocks/river';
@import './components/blocks/stats';
@import './components/blocks/tabs';
@import './components/blocks/timeline';
@import './components/blocks/videos';

// Components MODULES

@import './components/modules/article';
@import './components/modules/avatar';
@import './components/modules/badge';
@import './components/modules/breadcrumbs';
@import './components/modules/button';
@import './components/modules/card';
@import './components/modules/compareTable';
@import './components/modules/dropdown';
@import './components/modules/event';
@import './components/modules/formField';
@import './components/modules/imageObject';
@import './components/modules/linkObject';
@import './components/modules/pagination';
@import './components/modules/person';
@import './components/modules/sectionHeading';
@import './components/modules/stat';
@import './components/modules/table';
@import './components/modules/tableOfContents';
@import './components/modules/tag';
@import './components/modules/videoBackground';
@import './components/modules/videoBlock';

// PAGES

@import './pages/post';
