.avatar {
  position: relative;

  span:not(.badge),
  .imageObject {
    border-radius: 100%;
    overflow: hidden;
    background-color: $lightRed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .badge {
    position: absolute;
    top: 0;
    right: -$size-3;
  }
}
