.compareTable {
  padding: $size-32 $size-16;
  max-width: $size-200 + $size-164;

  .heading {
    font-size: $size-52;
  }

  .eyebrow,
  .subheading {
    font-size: $size-20;
    text-transform: uppercase;
    font-weight: 900;
  }

  &.highlight {
    color: $offwhite;
  }

  &.primary {
    background-color: $primary-light;
    color: $black;

    &.highlight {
      background: $primary;
      color: $offwhite;
    }
  }
  &.secondary {
    background-color: $secondary-light;
    color: $black;

    &.highlight {
      background: $secondary;
      color: $white;
    }
  }
  &.tertiary {
    background-color: $tertiary-light;
    color: $black;

    &.highlight {
      background: $tertiary;
    }
  }

  &.quaternary {
    background-color: $quaternary-light;
    color: $black;

    &.highlight {
      background: $quaternary;
      color: $white;
    }
  }
}
