.dropdown {
  display: inline-block;
  position: relative;

  &.open {
    .menu {
      display: flex;
    }

    .suffix {
      transform: rotate(180deg);
    }
  }

  .suffix {
    transition: $transition;
  }

  .menu {
    display: none;
    position: absolute;
    box-shadow: $box-shadow-3;
    border-left: $size-1 solid $lightGray;
    border-right: $size-1 solid $lightGray;
    border-bottom: $size-1 solid $lightGray;
    overflow: hidden;
    border-radius: $size-8;
    min-width: $xxs;
    background-color: $white;
    z-index: 10;

    .linkObject {
      color: $black;
      display: block;
      width: 100%;
      padding: $size-8 $size-16;

      &:hover {
        text-decoration: none;
        opacity: 1;
        background-color: $lightGray;
      }
    }
  }
}
