.event {
  padding: 16px 8px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-white);
    box-shadow: 0 10px 25px -20px rgb(from var(--color-black) r g b / 0.5);
    color: var(--color-black);

    a:not(.button) {
      color: var(--color-primary);
    }
  }

  .info {
    @media screen and (min-width: (576px)) {
      width: calc(100% - 60px);
    }
  }

  .details {
    width: 100%;

    @media screen and (min-width: (576px)) {
      width: calc(100% - (200px + 52px));
    }
  }

  .poster {
    position: relative;

    @media screen and (min-width: (576px)) {
      width: 50%;
    }

    @media screen and (max-width: (576px - 1)) {
      padding-bottom: 56.25%;
    }

    .button {
      @media screen and (max-width: (576px - 1)) {
        pointer-events: none;
      }

      span {
        position: absolute;
        background-color: var(--color-primary);
        color: var(--color-white);
        height: 100%;
        width: 100%;
        z-index: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
      }

      &:hover {
        @media screen and (min-width: (576px)) {
          span {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .date {
    text-transform: uppercase;
    text-align: center;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    width: 60px;
    padding: 6px 4px 4px 4px;
    line-height: 1;

    > span {
      font-weight: bold;
    }

    .heading {
      font-size: 24px;
      margin: 0;
    }
  }

  .links {
    @media screen and (min-width: (576px)) {
      width: 200px + 52px;
    }

    @media screen and (max-width: (576px - 1)) {
      justify-content: flex-start;
    }
  }

  .times {
    margin-top: 8px;
    line-height: 1;
  }
}
