@mixin inputstyle {
  input,
  textarea,
  select {
    appearance: none;
    font-size: $size-16;
    box-shadow: none;
    border: none;
    display: block;
    border: $size-1 solid $lightBlue;
    padding: $size-4 $size-8;
    outline-offset: $size-2;
    width: 100%;

    &:focus {
      outline: none;
      outline: $size-4 solid $blue;
    }
  }
}

.formField {
  &.radio,
  &.checkbox {
    [class$='indicator'] {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: $size-1 solid $gray;
      outline-offset: -$size-3;
    }

    &.radio {
      [class$='indicator'] {
        border-radius: 50%;
      }
    }

    &.checkbox {
      [class$='indicator'] {
        border-radius: $size-4;
      }
    }

    span {
      line-height: 1;
    }

    svg {
      opacity: 0;
    }

    label {
      > div {
        outline-offset: $size-2;
        &.focused {
          outline: none;
          outline: $size-4 solid $blue;
        }
      }
    }

    input {
      height: 0;
      width: 0;
      opacity: 0;
      position: absolute;
      overflow: hidden;
      appearance: none;

      &:focus {
        outline: none;
        outline: $size-4 solid $blue;
      }

      &:checked + [class$='indicator'] {
        outline-color: transparent;

        svg {
          color: $blue;
          opacity: 1;
        }
      }
    }
  }

  &.text,
  &.textarea,
  &.date,
  &.datetime-local,
  &.email,
  &.month,
  &.number,
  &.password,
  &.tel,
  &.time,
  &.url,
  &.week {
    @include inputstyle;
  }

  &.select {
    > div {
      position: relative;

      svg {
        position: absolute;
        right: $size-8;
        bottom: $size-7;
      }
    }

    @include inputstyle;
  }

  &.textarea {
    textarea {
      resize: none;
    }
  }

  &.hidden {
    display: none;
  }

  &.file {
    input {
      display: none;
    }

    > div > div {
      cursor: pointer;
      width: 100%;
      padding: $size-16;
      border: $size-1 solid $lightBlue;

      &:hover {
        background-color: $lightBlue;
      }
    }
  }
}
