.sectionHeading {
  margin-bottom: 80px / 1.5;

  @media screen and (max-width: (768px - 1)) {
    margin-bottom: 40px / 1.5;
  }

  .heading {
    font-size: 32px;

    + div {
      max-width: 768px;
    }
  }
}
