.sectionHeading {
  margin-bottom: var(--section-heading-spacing);

  @media screen and (max-width: ($md - 1)) {
    margin-bottom: var(--section-heading-spacing-mobile);
  }

  .heading {
    font-size: $size-32;

    + div {
      max-width: var(--break-md);
    }
  }
}
