.stat {
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-white);
  padding: 16px;

  p {
    margin: 0;
  }

  .title {
    font-size: 20px;
    margin: 0;
  }

  .icon {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    + div {
      width: calc(100% - 48px);
    }
  }

  .value {
    font-size: 32px;
    display: flex;
    gap: 3px;
    margin-bottom: 8px;
    line-height: 1;
  }

  &.primary {
    .icon {
      background-color: var(--color-primary-light);
    }
  }

  &.secondary {
    .icon {
      background-color: var(--color-secondary-light);
    }
  }

  &.tertiary {
    .icon {
      background-color: var(--color-tertiary-light);
    }
  }

  .tags {
    margin-top: 8px;
  }
}
