.table {
  width: 100%;

  overflow: hidden;

  tr {
    &:first-of-type {
      td,
      th {
        border-top: 0;
      }
    }
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-top: 1px solid var(--color-gray);
  }

  th {
    border-bottom: 1px solid var(--color-gray);
  }

  tbody {
    tr {
      &:hover {
        background-color: var(--color-white);
      }
    }
  }
}
