.table {
  width: 100%;

  overflow: hidden;

  tr {
    &:first-of-type {
      td,
      th {
        border-top: 0;
      }
    }
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-top: $size-1 solid $gray;
  }

  th {
    border-bottom: $size-1 solid $gray;
  }

  tbody {
    tr {
      &:hover {
        background-color: $white;
      }
    }
  }
}
