.tagItem {
  display: inline-block;
  padding: $size-4 $size-8;
  font-size: $size-12;
  letter-spacing: $size-1;
  font-weight: 800;

  &.primary {
    color: $primary;
    background-color: $primary-light;

    a {
      color: $primary;
    }
  }

  &.secondary {
    color: $secondary-dark;
    background-color: $secondary-light;

    a {
      color: $secondary-dark;
    }
  }

  &.tertiary {
    color: $tertiary-dark;
    background-color: $tertiary-light;

    a {
      color: $tertiary-dark;
    }
  }
}
