.accordion {
  &.open {
    .button {
      .suffix {
        transform: rotate(180deg);
      }
    }

    .content {
      margin: 16px 0;
    }
  }
  .button {
    width: 100%;
    justify-content: space-between;
    font-size: 20px;

    .suffix {
      transition: all 0.2s ease-in-out;
    }
  }

  .content {
    background-color: var(--color-white);
    transition: all 0.2s ease-in-out;
    margin: 4px 0;

    .inner {
      padding: 16px;
    }
  }
}
