.alert {
  background: var(--color-primary-light);
  padding: 16px;
  box-shadow: 0 10px 25px -22px rgb(from var(--color-black) r g b / 0.3);
  justify-content: center;
  gap: 16px;
  display: flex;
  align-items: center;

  > div {
    max-width: calc(100% - 60px);
  }

  svg {
    width: 30px;
  }

  &.info {
    background: var(--color-info);
  }

  &.success {
    background: var(--color-success);
    color: var(--color-white);
  }

  &.warning {
    background: var(--color-warning);
  }

  &.error {
    background: var(--color-error);
    color: var(--color-white);
  }
}
