.alert {
  background: var(--color-primary-light);
  padding: $size-16;
  box-shadow: $box-shadow-1;
  justify-content: center;
  gap: $size-16;
  display: flex;
  align-items: center;

  > div {
    max-width: calc(100% - $size-60);
  }

  svg {
    width: $size-60 / 2;
  }

  &.info {
    background: var(--color-info);
  }

  &.success {
    background: var(--color-success);
    color: var(--color-white);
  }

  &.warning {
    background: var(--color-warning);
  }

  &.error {
    background: var(--color-error);
    color: var(--color-white);
  }
}
