.alert {
  background: $lightBlue;
  padding: $size-16;
  box-shadow: $box-shadow-1;
  justify-content: center;
  gap: $size-16;
  display: flex;
  align-items: center;

  > div {
    max-width: calc(100% - $size-60);
  }

  svg {
    width: $size-60 / 2;
  }

  &.info {
    background: $info;
  }

  &.success {
    background: $success;
    color: $white;
  }

  &.warning {
    background: $warning;
  }

  &.error {
    background: $error;
    color: $white;
  }
}
