.banner {
  @include vertical-spacing-padding;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: ($lg)) {
    min-height: $xs;
  }

  &.red {
    background-color: $lightRed;
  }

  &.blue {
    background-color: $lightBlue;
  }

  &.green {
    background-color: $lightGreen;
  }

  &.orange {
    background-color: $lightOrange;
  }

  &.has-image {
    background: none;
    color: $white;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, 0.5);
      z-index: 1;
    }

    .links {
      color: $white;
    }

    .breadcrumbs {
      a {
        color: $white;
      }
    }
  }

  .container {
    z-index: 2;
    position: relative;
  }

  .links {
    margin-top: $size-32;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: $size-16;

    @media screen and (min-width: ($sm)) {
      align-items: center;
      flex-direction: row;
    }
  }

  .heading {
    font-size: $size-48;

    @media screen and (max-width: ($md - 1)) {
      font-size: $size-40;
    }

    @media screen and (max-width: ($sm - 1)) {
      font-size: $size-32;
    }
  }

  .breadcrumbs {
    margin-bottom: $size-16;
  }
}
