.blockWrapper {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  @include vertical-spacing-margin;

  &.padded {
    margin-top: 0;
    margin-bottom: 0;
    @include vertical-spacing-padding;
  }

  &.primary,
  &.secondary,
  &.quaternary,
  &.black {
    color: var(--color-white);

    hr {
      border-color: var(--color-white);
    }

    a:not(.button) {
      color: var(--color-primary-light);
    }
  }

  &.primary {
    background-color: var(--color-primary);
  }

  &.primary-light {
    background-color: var(--color-primary-light);
  }

  &.secondary {
    background-color: var(--color-secondary);
  }

  &.secondary-light {
    background-color: var(--color-secondary-light);
  }

  &.tertiary {
    background-color: var(--color-tertiary);
  }

  &.tertiary-light {
    background-color: var(--color-tertiary-light);
  }

  &.quaternary {
    background-color: var(--color-quaternary);
  }

  &.quaternary-light {
    background-color: var(--color-quaternary-light);
  }

  &.black {
    background-color: var(--color-black);
    color: var(--color-offwhite);
  }

  &.white {
    background-color: var(--color-offwhite);
  }

  &.hasBgImage {
    color: var(--color-white);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &:before {
      background: var(--overlay-black);
    }

    &:after {
      background: var(--color-black);
      opacity: 0.8;
      mix-blend-mode: multiply;
    }

    &[class*='-light'] {
      &:after {
        opacity: 0.5;
      }
    }

    &.primary,
    &.primary-light {
      &:before {
        background: var(--overlay-primary);
      }

      &:after {
        background: var(--color-primary);
      }
    }

    &.secondary,
    &.secondary-light {
      &:before {
        background: var(--overlay-secondary);
      }

      &:after {
        background: var(--color-secondary);
      }
    }

    &.tertiary,
    &.tertiary-light {
      &:before {
        background: var(--overlay-tertiary);
      }

      &:after {
        background: var(--color-tertiary);
      }
    }

    &.quaternary,
    &.quaternary-light {
      &:before {
        background: var(--overlay-quaternary);
      }

      &:after {
        background: var(--color-quaternary);
      }
    }

    &.black {
      &:before {
        background: var(--overlay-black);
      }

      &:after {
        background: var(--color-black);
      }
    }

    &.white {
      &:before {
        background: var(--overlay-offwhite);
      }

      &:after {
        background: var(--color-offwhite);
      }
    }

    &.gray {
      &:before {
        background: var(--overlay-gray);
      }

      &:after {
        background: var(--color-gray);
      }
    }
  }
}
