.blockWrapper {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  @include vertical-spacing-margin;

  &.padded {
    margin-top: 0;
    margin-bottom: 0;
    @include vertical-spacing-padding;
  }

  &.primary,
  &.secondary,
  &.quaternary,
  &.black {
    color: $white;

    hr {
      border-color: $white;
    }

    a:not(.button) {
      color: $primary-light;
    }
  }

  &.primary {
    background-color: $primary;
  }

  &.primary-light {
    background-color: $primary-light;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.secondary-light {
    background-color: $secondary-light;
  }

  &.tertiary {
    background-color: $tertiary;
  }

  &.tertiary-light {
    background-color: $tertiary-light;
  }

  &.quaternary {
    background-color: $quaternary;
  }

  &.quaternary-light {
    background-color: $quaternary-light;
  }

  &.black {
    background-color: $black;
    color: $offwhite;
  }

  &.white {
    background-color: $offwhite;
  }

  &.hasBgImage {
    color: $white;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &:before {
      background: $overlay-black;
    }

    &:after {
      background: $black;
      opacity: 0.8;
      mix-blend-mode: multiply;
    }

    &[class*='-light'] {
      &:after {
        opacity: 0.5;
      }
    }

    &.primary,
    &.primary-light {
      &:before {
        background: $overlay-primary;
      }

      &:after {
        background: $primary;
      }
    }

    &.secondary,
    &.secondary-light {
      &:before {
        background: $overlay-secondary;
      }

      &:after {
        background: $secondary;
      }
    }

    &.tertiary,
    &.tertiary-light {
      &:before {
        background: $overlay-tertiary;
      }

      &:after {
        background: $tertiary;
      }
    }

    &.quaternary,
    &.quaternary-light {
      &:before {
        background: $overlay-quaternary;
      }

      &:after {
        background: $quaternary;
      }
    }

    &.black {
      &:before {
        background: $overlay-black;
      }

      &:after {
        background: $black;
      }
    }

    &.white {
      &:before {
        background: $overlay-offwhite;
      }

      &:after {
        background: $offwhite;
      }
    }

    &.gray {
      &:before {
        background: $overlay-gray;
      }

      &:after {
        background: $gray;
      }
    }
  }
}
