.carousel {
  position: relative;
  overflow: hidden;

  .slider {
    transition: all 0.2s ease-in-out;
  }

  .dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
