.logoRow {
  padding: $size-32 0;
  background-color: var(--color-gray-light);

  .flex {
    @media screen and (max-width: ($sm - 1)) {
      gap: $size-32;
    }
  }

  [data-label='image-container'] {
    img {
      height: $size-80;
      width: auto;

      @media screen and (max-width: ($sm - 1)) {
        height: $size-64;
      }
    }
  }
}
