.logoBanner {
  position: relative;
  padding: $size-32;
  height: 80svh;
  max-height: var(--break-xl);

  @media screen and (max-width: ($md - 1)) {
    height: auto;
    padding: $size-100 $size-48;
  }

  .flex {
    height: 100%;
  }

  .logo {
    width: 100%;
    max-width: var(--break-xs);
  }
}
