.river {
  @include vertical-spacing-margin;

  > .flex {
    @media screen and (max-width: ($md - 1)) {
      flex-direction: column;
      gap: 0;
    }
  }

  .image,
  .video {
    position: relative;
    box-shadow: $box-shadow-2;
  }

  .image {
    @media screen and (max-width: ($md - 1)) {
      padding-bottom: 66.6666666667%;
    }
  }

  .copy {
    padding: $size-64 0;

    @media screen and (max-width: ($md - 1)) {
      padding: 0 0 $size-32 0;
    }
  }

  .links {
    margin-top: $size-32;
  }
}
