.river {
  > .flex {
    @media screen and (max-width: (768px - 1)) {
      flex-direction: column;
      gap: 0;
    }
  }

  .image,
  .video {
    position: relative;
    box-shadow: 0 10px 25px -20px rgb(from var(--color-black) r g b / 0.5);
  }

  .image {
    @media screen and (max-width: (768px - 1)) {
      padding-bottom: 66.6666666667%;
    }
  }

  .copy {
    padding: 64px 0;

    @media screen and (max-width: (768px - 1)) {
      padding: 0 0 32px 0;
    }
  }

  .links {
    margin-top: 32px;
  }
}
