.tabs {
  @include vertical-spacing-margin;
  position: relative;

  ul {
    &.unstyled {
      @media screen and (max-width: ($sm - 1)) {
        display: none;
      }

      li {
        margin: 0;
      }

      &.open {
        @media screen and (max-width: ($sm - 1)) {
          display: flex;
          z-index: 10;
          position: absolute;
          background-color: var(--color-white);
          box-shadow: $box-shadow-2;
          left: 50%;
          transform: translateX(-50%);
          top: inherit;
          flex-direction: column;
          width: 95%;
          gap: 0;
          align-items: stretch;
          padding: 0;
          border: $size-1 solid var(--color-gray-light);

          li {
            margin: 0;
          }

          .button {
            @include unstyledButton;
            padding: $size-8 $size-16;
            width: 100%;
            font-weight: bold;
            color: var(--color-gray);

            &:hover {
              text-decoration: none;

              &.primary {
                background-color: var(--color-primary);
                color: var(--color-white);
              }

              &.secondary {
                background-color: var(--color-secondary);
                color: var(--color-white);
              }

              &.tertiary {
                background-color: var(--color-tertiary);
                color: var(--color-white);
              }

              background-color: var(--color-gray-light);
            }
          }
        }
      }
    }
  }

  .button {
    &.toggle {
      @media screen and (min-width: ($sm)) {
        display: none;
      }

      @media screen and (max-width: ($sm - 1)) {
        background-color: var(--color-gray-light);
        font-weight: bold;
        padding: $size-8;

        &.primary {
          background-color: var(--color-primary-light);
          color: var(--color-primary-dark);
        }

        &.secondary {
          background-color: var(--color-secondary-light);
          color: var(--color-secondary);
        }

        &.tertiary {
          background-color: var(--color-tertiary-light);
          color: var(--color-tertiary-dark);
        }

        &.open {
          .indicator {
            transform: rotate(180deg);
          }
        }
        .indicator {
          transition: var(--transition);
        }
      }
    }

    &.active {
      @media screen and (min-width: ($sm)) {
        position: relative;

        &:before {
          content: '';
          height: $size-4;
          width: 100%;
          position: absolute;
          bottom: calc(100% + $size-8);
          background-color: var(--color-gray);
          left: 0;
        }
      }
    }
  }

  .panel {
    border: $size-1 solid var(--color-gray-light);
    padding: $size-16;
    background-color: var(--color-white);

    @media screen and (max-width: ($sm - 1)) {
      margin-top: $size-16;
    }
  }
}
