.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;

  @media screen and (max-width: (768px - 1)) {
    padding: 40px 0;
  }

  @media screen and (min-width: (992px)) {
    min-height: 480px;
  }

  &.contained {
    &.has-image {
      &:before {
        content: none;
      }

      .inner {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgb(from var(--color-black) r g b / 0.5);
          z-index: 1;
        }
      }
    }

    .inner {
      position: relative;
      overflow: hidden;
      padding: 120px;
      box-shadow: 0 10px 25px -14px rgb(from var(--color-black) r g b / 1);

      @media screen and (max-width: (768px - 1)) {
        padding: 80px 16px;
      }

      > div:not(.imageObject) {
        position: relative;
        z-index: 2;
      }

      &.quaternary {
        background-color: var(--color-quaternary-light);
      }

      &.primary {
        background-color: var(--color-primary-light);
      }

      &.secondary {
        background-color: var(--color-secondary-light);
      }

      &.tertiary {
        background-color: var(--color-tertiary-light);
      }

      &.black {
        background-color: var(--color-black);
        color: var(--color-offwhite);
      }

      &.white {
        background-color: var(--color-offwhite);
      }
    }

    &.micro {
      .inner {
        padding: 32px;
      }
    }
  }

  &.primary {
    background-color: var(--color-primary-light);
  }

  &.secondary {
    background-color: var(--color-secondary-light);
  }

  &.tertiary {
    background-color: var(--color-tertiary-light);
  }

  &.quaternary {
    background-color: var(--color-quaternary-light);
  }

  &.black {
    background-color: var(--color-black);
    color: var(--color-offwhite);
  }

  &.white {
    background-color: var(--color-offwhite);
  }

  &.has-image {
    color: var(--color-white);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(from var(--color-black) r g b / 0.5);
      z-index: 1;
    }

    .links {
      color: var(--color-white);
    }

    .breadcrumbs {
      a {
        color: var(--color-white);
      }
    }
  }

  .subheading {
    font-size: 24px;
  }

  .innerContent {
    max-width: 768px;
  }

  .date {
    font-weight: bold;
    font-style: italic;
  }

  .tags {
    margin-bottom: 16px;
  }

  .container {
    z-index: 2;
    position: relative;
  }

  .links {
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media screen and (min-width: (576px)) {
      align-items: center;
      flex-direction: row;
    }
  }

  .heading {
    font-size: 48px;

    @media screen and (max-width: (768px - 1)) {
      font-size: 40px;
    }

    @media screen and (max-width: (576px - 1)) {
      font-size: 32px;
    }
  }

  .breadcrumbs {
    margin-bottom: 16px;
  }
}
