.quote {
  @include vertical-spacing-padding;

  @media screen and (min-width: (576px)) {
    text-align: center;
  }

  &.quaternary {
    background-color: var(--color-quaternary-light);
  }

  &.primary {
    background-color: var(--color-primary-light);
  }

  &.secondary {
    background-color: var(--color-secondary-light);
  }

  &.tertiary {
    background-color: var(--color-tertiary-light);
  }

  blockquote {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 0;

    @media screen and (max-width: (576px - 1)) {
      font-size: 24px;
    }
  }

  cite {
    display: flex;
    gap: 8px;
    line-height: 1;
    justify-content: center;
    margin-top: 32px;

    > div {
      &.flex {
        @media screen and (max-width: (576px - 1)) {
          width: 100%;
          align-items: flex-start;
        }
      }
    }
  }
}
