.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  padding: 80px / 3 0;

  @media screen and (max-width: (768px - 1)) {
    padding: 40px / 3 0;
  }
}
