.box {
  &.radius-4 {
    border-radius: 4x;
  }

  &.radius-8 {
    border-radius: 8px;
  }

  &.radius-12 {
    border-radius: 12px;
  }

  &.radius-4-overflow {
    border-radius: 4px;
    overflow: hidden;
  }

  &.radius-8-overflow {
    border-radius: 8px;
    overflow: hidden;
  }

  &.radius-12-overflow {
    border-radius: 12px;
    overflow: hidden;
  }

  &.shadow-1 {
    box-shadow: 0 10px 25px -22px rgb(from var(--color-black) r g b / 0.3);
  }

  &.shadow-2 {
    box-shadow: 0 10px 25px -20px rgb(from var(--color-black) r g b / 0.5);
  }

  &.shadow-3 {
    box-shadow: 0 10px 25px -18px rgb(from var(--color-black) r g b / 0.7);
  }

  &.shadow-4 {
    box-shadow: 0 10px 25px -14px rgb(from var(--color-black) r g b / 1);
  }
}
