.box {
  &.radius-4 {
    @include radius4;
  }

  &.radius-8 {
    @include radius8;
  }

  &.radius-12 {
    @include radius12;
  }

  &.radius-4-overflow {
    @include radius4overflow;
  }

  &.radius-8-overflow {
    @include radius8overflow;
  }

  &.radius-12-overflow {
    @include radius12overflow;
  }

  &.shadow-1 {
    box-shadow: 0 10px 25px -22px rgb(from var(--color-black) r g b / 0.3);
  }

  &.shadow-2 {
    box-shadow: 0 10px 25px -20px rgb(from var(--color-black) r g b / 0.5);
  }

  &.shadow-3 {
    box-shadow: 0 10px 25px -18px rgb(from var(--color-black) r g b / 0.7);
  }

  &.shadow-4 {
    box-shadow: 0 10px 25px -14px rgb(from var(--color-black) r g b / 1);
  }
}
