.alertBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 99;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  transition-duration: 0.3s;
  transition-property: opacity, visibility;

  &.fade {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.info {
    background-color: $blue;
    color: $white;
  }
  &.success {
    background-color: $green;
    color: $black;
  }
  &.warning {
    background-color: $yellow;
    color: $black;
  }
  &.error {
    background-color: $red;
    color: $white;
  }

  p {
    margin: 0;
  }

  button {
    cursor: pointer;
  }
}
