form {
  label {
    display: block;
    span {
      display: block;
    }
  }

  input:not([type='submit'], [type='radio'], [type='checkbox']),
  textarea {
    border: 2px solid;
    padding: 10px;
    width: 100%;

    &:focus {
      border-color: $blue;
    }
  }

  .radio,
  .checkbox {
    label {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0.5rem;
      cursor: pointer;

      span {
        + input {
          // background-color: $white;
          // height: 0;
          // width: 0;
          // overflow: hidden;
          // opacity: 0;

          &:focus {
            border-color: $blue;
          }

          &:checked {
            + [class$='-indicator'] {
              background-color: $red;
            }
          }
          + [class$='-indicator'] {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid $black;
          }
        }
      }
    }
  }

  .radio {
    label {
      span {
        + input {
          + [class$='-indicator'] {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
