.media-card {
  text-decoration: none;
  color: $black;
  border: 2px solid $black;
  padding: 1rem;

  &:hover {
    color: $blue;

    > span {
      background-color: $green;
    }
  }

  .image {
    height: 200px;
    position: relative;
  }

  > span {
    @extend .button;
    @include buttonItem;
  }
}
