body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skip-to-content {
  position: absolute;
  transform: translateY(-150%);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: $white;
  color: $black;
  border-radius: 5px;
  padding: 10px 20px;
  z-index: 0;

  &:focus {
    transform: translateY(0);
    z-index: 99;
  }
}

.hide {
  pointer-events: none;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.highlight {
  display: inline-block;
  color: $red;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

hr {
  height: 2px;
  background-color: $black;
}

table {
  th,
  td {
    padding: 0.5rem;
  }
  thead {
    border-bottom: 2px solid $black;
  }
}
