$sm: 480px;
$smd: 600px;
$md: 768px;
$mlg: 900px;
$lg: 1024px;
$lrgx: 1152px;
$xl: 1280px;
$xxl: 1440px;

$red: #ff0000;
$redOrange: #ff4500;
$orange: #ff7f00;
$yellowOrange: #ffa500;
$yellow: #ffff00;
$yellowGreen: #9acd32;
$green: #00ff00;
$greenCyan: #00ffff;
$blue: #0000ff;
$blueViolet: #8a2be2;
$indigo: #4b0082;
$purple: #800080;
$violet: #ee82ee;
$white: #ffffff;
$lightGray: #d3d3d3;
$gray: #808080;
$black: #000000;

$font-size: 18px;
$font-family: MonoLisa, monospace;
$line-height: 1.5;
$color: $black;
$background-color: $white;
