.logoRow {
  padding: 32px 0;
  background-color: var(--color-gray-light);

  .flex {
    @media screen and (max-width: (576px - 1)) {
      gap: 32px;
    }
  }

  [data-label='image-container'] {
    img {
      height: 80px;
      width: auto;

      @media screen and (max-width: (576px - 1)) {
        height: 64px;
      }
    }
  }
}
